@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@plugin "daisyui";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-darkBlue: #002e6e;
  --color-lightBlue: #00b9f1;
  --color-flameRed: #ef4e28;

  /* can use existing color palette to define my palette */
  /* --color-primary-5: var(--color-blue-500); */

  --color-gray-50: #f7fafc;
  --color-gray-200: #e5e9f2;
  --color-gray-300: #dbdfea;
  --color-gray-400: #b6c6e3;
  --color-gray-800: #2b3748;
  --color-gray-900: #1f2b3a;
  --color-gray-950: #101924;
  --color-gray-1000: #0d141d;

  --color-primary-500: #798bff;
  --color-primary-600: #6576ff;

  --color-slate-50: #f5f7fd;
  --color-slate-200: #dfe9fe;
  --color-slate-400: #8094ae;
  --color-slate-600: #526484;
  --color-slate-700: #364a63;
  --color-slate-900: #1c2b46;

  --color-primary-50: #e1e8ef;
  --color-primary-100: #d4dee7;
  --color-primary-200: #b7c7d7;
  --color-primary-300: #99b0c7;
  --color-primary-400: #7c99b6;
  --color-primary-700: #3c546c;
  --color-primary-800: #2c3d4f;
  --color-primary-900: #1b2631;
  --color-primary-950: #141c24;
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--color-primary-900);
    border-right-color: var(--color-primary-200);
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--color-primary-200);
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

@layer utilities {
  .animate-fade-zoom-out {
    animation: fade-zoom-out 0.5s linear forwards;
  }
  @keyframes fade-zoom-out {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.5);
    }
  }

  .animate-unfade-zoom-in {
    animation: unfade-zoom-in 0.5s linear forwards;
  }
  @keyframes unfade-zoom-in {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .scrollbar::-webkit-scrollbar {
    height: 8px;
    /* background: #000; */
  }

  .scrollbar::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
    background: #f4f4f4;
    border-radius: 100vh; */
  }

  .scrollbar::-webkit-scrollbar-thumb {
    /* background: #e0cbcb; */
    border-radius: 100vh;
    /* border: 3px solid #f6f7ed; */

    /* background: #1baaae;
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.5) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0.5) 75%,
      transparent 75%
    ); */

    background-image: linear-gradient(to right, #1baaae, #6dc1c3, #1baaae);

    /* background-image: url('https://i.pinimg.com/originals/b5/2e/1b/b52e1bff41122d66aac6133d5718b6fb.gif'),
      linear-gradient(100deg, transparent, transparent);
    background-repeat: no-repeat;
    background-size: contain; */
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #c0a0b9; */
  }
}
